name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-test-container:
    uses: G4Med-test/ci-workflows/.github/workflows/apptainer-build-deploy.yml@main
    permissions:
      contents: read
      packages: write
    with:
      apptainer_def: "Apptainer.def"
      image_name: "LowEFrag.sif"
