name: CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    name: Build & Deploy
    uses: G4Med-test/ci-workflows/.github/workflows/apptainer-build-deploy.yml@main
    permissions:
      contents: read
      packages: write
    with:
      apptainer_def: "Apptainer.def"
      image_name: "LowEFrag.sif"

  unit-test:
    name: Unit Test
    needs: build
    uses: G4Med-test/ci-workflows/.github/workflows/run-unit.yml@main
    permissions:
      contents: read
      packages: read
    with:
      image_name: "LowEFrag.sif"
      macro_file: "macro/unit.mac"
